@use "./common/function.scss" as fn;
@use "./common/mixins.scss";
@use "./common/componentVar.scss" as comVar;
@use "./common/var.scss";

@include mixins.b(button) {
  // --a-button-border-color-default: #e2e6f1;
  // --a-button-border-color: var(#{fn.getVarName("border-color", "default")});
  // --a-button-bg-color: var(#{fn.getVarName("color", "white")});
  // --a-button-text-color: var(#{fn.getVarName("text-color", "primary")});
  @include mixins.set-component-var(button, comVar.getButtonVar());

  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(#{fn.getVarName(button, size)});
  min-width: 80px;
  background-color: var(--a-button-bg-color);
  border: 1px solid var(--a-button-border-color);
  // font-size: 14px;
  font-size: var(#{fn.getVarName(button, font-size)});
  color: var(--a-button-text-color);

  padding: 0 16px;
  box-sizing: border-box;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  transition: all 0.3s;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  user-select: none;
  vertical-align: middle;

  &:hover {
    background-color: var(#{fn.getVarName(button, hover-bg-color)});
    border-color: var(#{fn.getVarName(button, hover-border-color)});
    color: var(#{fn.getVarName(button, hover-text-color)});
  }

  // 按钮禁用和 loading 时候的样式
  &.is-disabled,
  &.is-loading {
    cursor: not-allowed;

    &,
    &:hover {
      background-color: var(#{fn.getVarName(button, disabled-bg-color)});
      border-color: var(#{fn.getVarName(button, disabled-border-color)});
      color: var(#{fn.getVarName(button, disabled-text-color)});
    }
  }

  &.is-round {
    border-radius: 100px;
  }

  // 文字按钮的类名
  &.is-text {
    // background-color: transparent;
    // border-color: transparent;

    color: var(#{fn.getVarName(button, is-text-color)});
    background-color: var(#{fn.getVarName(button, is-text-bg-color)});
    border-color: var(#{fn.getVarName(button, is-text-bg-color)});

    &:hover {
      color: var(#{fn.getVarName(button, hover-is-text-color)});
      background-color: var(#{fn.getVarName(button, hover-is-text-bg-color)});
      border-color: var(#{fn.getVarName(button, hover-is-text-bg-color)});
    }

    &.is-disabled,
    &.is-loading {
      color: var(#{fn.getVarName(button, disabled-is-text-color)});
      background-color: var(#{fn.getVarName(button, disabled-is-text-bg-color)});
      border-color: var(#{fn.getVarName(button, disabled-is-text-bg-color)});
    }
  }

  // 链接按钮的类名
  &.is-link {
    padding: 0;
    min-width: auto;
    height: auto;
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline 1px solid transparent;
    text-underline-offset: 3px;

    &:hover {
      background-color: transparent;
      border-color: transparent;
    }
  }

  &.is-link {
    color: var(#{fn.getVarName(button, is-link-color)});

    &:hover {
      color: var(#{fn.getVarName(button, hover-is-link-color)});
      text-decoration-color: var(#{fn.getVarName(button, hover-is-link-color)});
    }

    &.is-disabled,
    &.is-loading {
      color: var(#{fn.getVarName(button, disabled-is-link-color)});
      text-decoration-color: transparent;
    }
  }

  &.is-border {

    color: var(#{fn.getVarName(button, is-border-text-color)});
    border-color: var(#{fn.getVarName(button, is-border-color)});
    background-color: transparent;

    &:hover {
      color: var(#{fn.getVarName(button, hover-is-border-text-color)});
      border-color: var(#{fn.getVarName(button, hover-is-border-color)});
      background-color: transparent;
    }

    &.is-disabled,
    &.is-loading {
      color: var(#{fn.getVarName(button, disabled-is-border-text-color)});
      border-color: var(#{fn.getVarName(button, disabled-is-border-color)});
    }
  }

  &.is-dashed {
    border-style: dashed;
  }

  &.is-block {
    display: block;
    width: 100%;
  }

  &.a-button--size_small {
    // height: 24px;
    #{fn.getVarName(button, size)}: var(#{fn.getVarName(component-size, small)});
    padding: 0 10px;
    // font-size: 12px;
    #{fn.getVarName(button, font-size)}: var(#{fn.getVarName("font-size", "small")});
  }

  &.a-button--size_large {
    // height: 40px;
    #{fn.getVarName(button, size)}: var(#{fn.getVarName("component-size", "large")});
    // font-size: 16px;
    #{fn.getVarName(button, font-size)}: var(#{fn.getVarName("font-size", "large")});
  }

  &.is-circle {
    padding: 0;
    min-width: auto;
    width: var(#{fn.getVarName("button", "size")});
    border-radius: 50%;
  }

  .iconfont {
    font-size: var(#{fn.getVarName("button", "font-size")});
  }

  // .a-button__inner
  @include mixins.e(inner) {
    display: inline-flex;
    gap: 4px;
    align-items: center;
  }

  &.is-button-group {
    border-radius: 0;

    &:first-child {
      border-radius: 6px 0 0 6px;
    }

    &:last-child {
      border-radius: 0 6px 6px 0;
    }

    &+.is-button-group {
      margin-left: -1px;
    }
  }
}

// 循环生成除了默认按钮以外的其他按钮的私有 css 变量
@each $type in var.$types-base {

  // 覆盖其他类型的 css 变量的值
  #{".a-button--" + $type} {
    @include mixins.set-component-var(button, comVar.getButtonVar($type), type);
  }
}