@use "./common/function.scss" as fn;
@use "./common/mixins.scss";
@use "./common/componentVar.scss" as comVar;

.a-button {
  // --a-button-border-color-default: #e2e6f1;
  // --a-button-border-color: var(#{fn.getVarName("border-color", "default")});
  // --a-button-bg-color: var(#{fn.getVarName("color", "white")});
  // --a-button-text-color: var(#{fn.getVarName("text-color", "primary")});
  @include mixins.set-component-var(button, comVar.getButtonVar());

  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  min-width: 80px;
  background-color: var(--a-button-bg-color);
  border: 1px solid var(--a-button-border-color);
  font-size: 14px;
  color: var(--a-button-text-color);

  padding: 0 16px;
  box-sizing: border-box;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  transition: all 0.3s;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  user-select: none;
  vertical-align: middle;

  &:hover {
    background-color: var(#{fn.getVarName(button, hover-bg-color)});
    border-color: var(#{fn.getVarName(button, hover-border-color)});
    color: var(#{fn.getVarName(button, hover-text-color)});
  }

  &.is-round {
    border-radius: 100px;
  }

  // 文字按钮的类名
  &.is-text {
    background-color: transparent;
    border-color: transparent;
  }

  // 链接按钮的类名
  &.is-link {
    padding: 0;
    min-width: auto;
    height: auto;
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline 1px solid transparent;
    text-underline-offset: 3px;
    &:hover {
      background-color: transparent;
      border-color: transparent;
    }
  }

  &.is-border {
    &,
    &:hover {
      background-color: transparent;
    }
  }

  &.is-dashed {
    border-style: dashed;
  }

  &.is-block {
    display: block;
    width: 100%;
  }

  &.a-button--size_small {
    height: 24px;
    padding: 0 10px;
    font-size: 12px;

    &.is-circle {
      width: 24px;
    }

    .iconfont {
      font-size: 12px;
    }
  }

  &.a-button--size_large {
    height: 40px;
    font-size: 16px;

    &.is-circle {
      width: 40px;
    }

    .iconfont {
      font-size: 16px;
    }
  }

  &.a-button--size_default {
    &.is-circle {
      width: 32px;
    }

    .iconfont {
      font-size: 14px;
    }
  }

  &.is-circle {
    padding: 0;
    min-width: auto;
    border-radius: 50%;
  }

  &__inner {
    display: inline-flex;
    gap: 4px;
    align-items: center;
  }

  &.is-button-group {
    border-radius: 0;
    &:first-child {
      border-radius: 6px 0 0 6px;
    }
    &:last-child {
      border-radius: 0 6px 6px 0;
    }
    & + .is-button-group {
      margin-left: -1px;
    }
  }
}

// 默认按钮的样式
.a-button--default {
  // background-color: #fff;
  // border-color: #e2e6f1;
  // color: #4d5059;
  // &:hover {
  //   background-color: #eaf0ff;
  //   border-color: #97b4ff;
  //   color: #3069ff;
  // }

  &.is-disabled,
  &.is-loading {
    cursor: not-allowed;
    &,
    &:hover {
      background-color: #fff;
      border-color: #ebeef5;
      color: #abb1bf;
    }
  }

  &.is-text {
    color: #4d5059;
    &:hover {
      background-color: #f5f6fa;
      border-color: #f5f6fa;
    }
  }

  &.is-link {
    color: #4d5059;
    &:hover {
      text-decoration-color: #4d5059;
    }
  }

  &.is-border {
    color: #4d5059;
  }
}

// 主要按钮的样式
.a-button--primary {
  // --a-color-primary
  $var: fn.getVarName(color, primary);

  background-color: var(#{$var});
  border-color: var(#{$var});
  color: #fff;
  &:hover {
    background-color: #6e96ff;
    border-color: #6e96ff;
  }

  &.is-disabled,
  &.is-loading {
    cursor: not-allowed;
    &,
    &:hover {
      background-color: #98b4ff;
      border-color: #98b4ff;
      color: #fff;
    }
  }

  &.is-text {
    color: #3069ff;
    &:hover {
      background-color: #eaf0ff;
      border-color: #eaf0ff;
    }
  }

  &.is-link {
    color: #3069ff;
    &:hover {
      text-decoration-color: #3069ff;
    }
  }

  &.is-border {
    color: #3069ff;
  }
}

// 成功按钮的样式
.a-button--success {
  // 引号可加可不加
  // --a-color-success
  $var: fn.getVarName("color", "success");

  background-color: var(#{$var});
  border-color: var(#{$var});
  color: #fff;
  &:hover {
    background-color: #5bdc9b;
    border-color: #5bdc9b;
  }

  &.is-disabled,
  &.is-loading {
    cursor: not-allowed;
    &,
    &:hover {
      background-color: #8ae6b8;
      border-color: #8ae6b8;
      color: #fff;
    }
  }

  &.is-text {
    color: #14cd70;
    &:hover {
      background-color: #e8faf1;
      border-color: #e8faf1;
    }
  }

  &.is-link {
    color: #14cd70;
    &:hover {
      text-decoration-color: #14cd70;
    }
  }

  &.is-border {
    color: #14cd70;
  }
}

// 警告按钮的样式
.a-button--warning {
  background-color: #ffa81a;
  border-color: #ffa81a;
  color: #fff;
  &:hover {
    background-color: #ffc25f;
    border-color: #ffc25f;
  }

  &.is-disabled,
  &.is-loading {
    cursor: not-allowed;
    &,
    &:hover {
      background-color: #ffd48d;
      border-color: #ffd48d;
      color: #fff;
    }
  }

  &.is-text {
    color: #ffa81a;
    &:hover {
      background-color: #fff6e8;
      border-color: #fff6e8;
    }
  }

  &.is-link {
    color: #ffa81a;
    &:hover {
      text-decoration-color: #ffa81a;
    }
  }

  &.is-border {
    color: #ffa81a;
  }
}

// 错误按钮的样式
.a-button--error {
  background-color: #ff4a5b;
  border-color: #ff4a5b;
  color: #fff;
  &:hover {
    background-color: #ff808c;
    border-color: #ff808c;
  }

  &.is-disabled,
  &.is-loading {
    cursor: not-allowed;
    &,
    &:hover {
      background-color: #ffa5ad;
      border-color: #ffa5ad;
      color: #fff;
    }
  }

  &.is-text {
    color: #ff4a5b;
    &:hover {
      background-color: #ffedef;
      border-color: #ffedef;
    }
  }

  &.is-link {
    color: #ff4a5b;
    &:hover {
      text-decoration-color: #ff4a5b;
    }
  }

  &.is-border {
    color: #ff4a5b;
  }
}
