@use "./common/mixins";
@use "./common/componentVar.scss" as comVar;
@use "./common/function.scss" as fn;

@include mixins.b("checkbox") {
  // 混入私有变量
  @include mixins.set-component-var(checkbox, comVar.getCheckboxVar());

  display: inline-flex;
  align-items: center;
  height: var(#{fn.getVarName(checkbox, size)});
  margin-right: 24px;
  cursor: pointer;
  user-select: none;

  &:hover {
    // 私有变量的名字: var(全局变量的名字);
    #{fn.getVarName(checkbox, border-color)}: var(#{fn.getVarName(border-color, hover)});
  }

  // 勾选状态
  @include mixins.s(checked) {
    #{fn.getVarName(checkbox, border-color)}: var(#{fn.getVarName(checkbox, checked-border-color)});
    #{fn.getVarName(checkbox, bg-color)}: var(#{fn.getVarName(checkbox, checked-bg-color)});
    #{fn.getVarName(checkbox, text-color)}: var(#{fn.getVarName(checkbox, checked-text-color)});
    #{fn.getVarName(checkbox, icon-color)}: var(#{fn.getVarName(checkbox, checked-icon-color)});

    // 图标
    @include mixins.e(icon-check, false) {
      transform: scale(1);
      transition: 0.3s;
    }
  }

  // 复选框容器
  @include mixins.e(wrapper) {
    position: relative;

    // 真实的复选框
    @include mixins.e(input) {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
    }

    // 模拟出来的复选框
    @include mixins.e(inner) {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid var(#{fn.getVarName(checkbox, border-color)});
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      border-radius: 6px;
      background-color: var(#{fn.getVarName(checkbox, bg-color)});
      color: var(#{fn.getVarName(checkbox, icon-color)});
      transition: 0.3s;

      // 图标
      @include mixins.e(icon-check) {
        transform: scale(0);
        transition: 0.3s;
      }
    }

    // 描述文本
    @include mixins.e(label) {
      margin-left: 8px;
      color: var(#{fn.getVarName(checkbox, text-color)});
      line-height: 1;
      font-size: var(#{fn.getVarName(checkbox, font-size)});
    }

  }
}