@use "./common/mixins.scss";
@use "./common/componentVar.scss" as comVar;
@use "./common/function.scss" as fn;

@include mixins.b(input) {
  @include mixins.set-component-var(input, comVar.getInputVar());

  display: inline-flex;
  align-items: center;
  width: 100%;

  // 文本框容器的 hover 状态 
  &:hover {
    #{fn.getVarName(input, border-color)}: var(#{fn.getVarName(border-color, hover)});
  }

  @include mixins.s(focus) {
    #{fn.getVarName(input, border-color)}: var(#{fn.getVarName(color, primary)});
  }

  // disabled 状态
  @include mixins.s(disabled) {
    #{fn.getVarName(input, text-color)}: var(#{fn.getVarName(text-color, disabled)});
    #{fn.getVarName(input, border-color)}: var(#{fn.getVarName(border-color, disabled)});
    #{fn.getVarName(input, bg-color)}: var(#{fn.getVarName(color, gray, light-9)});
  }

  @include mixins.e(wrapper) {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: var(#{fn.getVarName(input, size)});
    line-height: var(#{fn.getVarName(input, size)});
    border: 2px solid var(#{fn.getVarName(input, border-color)});
    border-radius: var(#{fn.getVarName(input, round)});
    padding: 0 var(#{fn.getVarName(input, padding)});
    background-color: var(#{fn.getVarName(input, bg-color)});
    transition: 0.3s;

    // 文本框
    @include mixins.e(inner) {
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      padding: 0;
      background-color: transparent;
      color: var(#{fn.getVarName(input, text-color)});
      font-size: var(#{fn.getVarName(input, font-size)});

      &::placeholder {
        color: var(#{fn.getVarName(text-color, placeholder)});
      }
    }
  }



}