@use "./common/mixins.scss";
@use "./common/componentVar.scss" as comVar;
@use "./common/function.scss" as fn;

@include mixins.b(input) {
  @include mixins.set-component-var(input, comVar.getInputVar());

  display: inline-flex;
  align-items: center;
  width: 100%;

  // 文本框容器的 hover 状态 
  &:hover {
    #{fn.getVarName(input, border-color)}: var(#{fn.getVarName(border-color, hover)});
  }

  @include mixins.s(focus) {
    #{fn.getVarName(input, border-color)}: var(#{fn.getVarName(color, primary)});
  }

  // disabled 状态
  @include mixins.s(disabled) {
    #{fn.getVarName(input, text-color)}: var(#{fn.getVarName(text-color, disabled)});
    #{fn.getVarName(input, border-color)}: var(#{fn.getVarName(border-color, disabled)});
    #{fn.getVarName(input, bg-color)}: var(#{fn.getVarName(color, gray, light-9)});
  }

  // 尺寸 - small
  @include mixins.m(size, small) {
    // 尺寸、圆角、文字
    #{fn.getVarName(input, size)}: var(#{fn.getVarName(component-size, small)});
    #{fn.getVarName(input, round)}: var(#{fn.getVarName(component-round, small)});
    #{fn.getVarName(input, font-size)}: var(#{fn.getVarName(font-size, small)});
  }

  // 尺寸 - large
  @include mixins.m(size, large) {
    // 尺寸、圆角、文字
    #{fn.getVarName(input, size)}: var(#{fn.getVarName(component-size, large)});
    #{fn.getVarName(input, round)}: var(#{fn.getVarName(component-round, large)});
    #{fn.getVarName(input, font-size)}: var(#{fn.getVarName(font-size, large)});
  }

  // round 状态
  @include mixins.s(round) {
    #{fn.getVarName(input, round)}: var(#{fn.getVarName(component-round, round)});
  }

  @include mixins.e(wrapper) {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: var(#{fn.getVarName(input, size)});
    line-height: var(#{fn.getVarName(input, size)});
    border: 2px solid var(#{fn.getVarName(input, border-color)});
    border-radius: var(#{fn.getVarName(input, round)});
    padding: 0 var(#{fn.getVarName(input, padding)});
    background-color: var(#{fn.getVarName(input, bg-color)});
    transition: 0.3s;
    z-index: 1;

    // 文本框
    @include mixins.e(inner) {
      height: 100%;
      // width: 100%;
      flex: 1;
      border: none;
      outline: none;
      padding: 0;
      background-color: transparent;
      color: var(#{fn.getVarName(input, text-color)});
      font-size: var(#{fn.getVarName(input, font-size)});

      &::placeholder {
        color: var(#{fn.getVarName(text-color, placeholder)});
      }
    }

    // 是否有前置区域
    @include mixins.s(prepend) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -2px;
    }

    // 是否有后置区域
    @include mixins.s(append) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

  }

  // 前缀、后缀图标
  @include mixins.e(fix-wrapper) {
    height: 100%;
    display: flex;
    align-items: center;
    color: var(#{fn.getVarName(text-color, placeholder)});
    font-size: var(#{fn.getVarName(input, font-size)});

    @include mixins.e(prefix) {
      padding-right: 5px;
    }

    @include mixins.e(suffix) {
      padding-left: 5px;
    }

    @include mixins.s(color-error, false) {
      color: var(#{fn.getVarName(color, error)});
    }
  }

  // 前置后置区域的容器
  @include mixins.e(aside-wrapper) {
    // border: 2px solid red;
    // min-width: var(#{fn.getVarName(input, size)});
    height: var(#{fn.getVarName(input, size)});
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(#{fn.getVarName(input, round)});
    box-sizing: border-box;
    // box-shadow: 0 0 0 2px var(#{fn.getVarName(input, border-color)}) inset;
    box-shadow: 0 0 0 2px var(#{fn.getVarName(border-color, default)}) inset;
    transition: 0.3s;
    color: var(#{fn.getVarName(text-color, placeholder)});
    font-size: var(#{fn.getVarName(input, font-size)});
    background-color: var(#{fn.getVarName(color, gray, light-9)});

    @include mixins.e(prepend) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    @include mixins.e(append) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -2px;

      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    @include mixins.e(prepend-text) {
      padding: 0 var(#{fn.getVarName(input, padding)});
    }

    @include mixins.e(append-text) {
      padding: 0 var(#{fn.getVarName(input, padding)});
    }

    @include mixins.b(button) {
      min-width: inherit;
    }

    @include mixins.b(icon) {
      padding: 0 var(#{fn.getVarName(input, padding)});
    }

  }
}