@use "./function.scss" as fn;

@function getButtonVar($type: "") {
  $button: (
    border-color: ( // --a-border-color-default
      default: fn.getVarName("border-color", "default"),
      type: fn.getVarName(color, $type)),

    bg-color: ( // --a-color-white
      default: fn.getVarName("color", white),
      type: fn.getVarName(color, $type)),

    text-color: (default: fn.getVarName("text-color", "primary"),
      type: fn.getVarName(color, "white")),

    hover-border-color: (default: fn.getVarName(color, primary, light-5),
      type: fn.getVarName(color, $type, light-3)),

    hover-bg-color: (default: fn.getVarName(color, primary, light-9),
      type: fn.getVarName(color, $type, light-3),
    ),

    hover-text-color: (default: fn.getVarName(color, "primary"),
      type: fn.getVarName(color, white)),

    // 按钮 disabled 时候的状态
    disabled-border-color: (default: fn.getVarName(border-color, disabled),
      type: fn.getVarName(color, $type, light-6)),

    disabled-bg-color: (default: fn.getVarName(color, white),
      type: fn.getVarName(color, $type, light-6)),

    disabled-text-color: (default: fn.getVarName(text-color, disabled),
      type: fn.getVarName(color, white)),

    size: (default: fn.getVarName(component-size, default)),

    font-size: (default: fn.getVarName(font-size, default)),

    // 链接按钮 - 默认状态
    is-link-color: (default: fn.getVarName(text-color, primary),
      type: fn.getVarName(color, $type)),
    // 链接按钮 - hover 状态
    hover-is-link-color: (default: fn.getVarName(text-color, secondary),
      type: fn.getVarName(color, $type, light-3)),
    // 链接按钮 - disabled 状态
    disabled-is-link-color: (default: fn.getVarName(text-color, disabled),
      type: fn.getVarName(color, $type, light-6)),

    // 文字按钮 - 默认状态
    is-text-color: (default: fn.getVarName(text-color, primary),
      type: fn.getVarName(color, $type)),
    is-text-bg-color: (default: fn.getVarName(color, white),
      type: fn.getVarName(color, white)),
    // 文字按钮 - hover 状态
    hover-is-text-color: (default: fn.getVarName(text-color, primary),
      type: fn.getVarName(color, $type)),
    hover-is-text-bg-color: (default: fn.getVarName(border-color, disabled),
      type: fn.getVarName(color, $type, light-9)),
    // 文字按钮 - disabled 状态
    disabled-is-text-color: (default: fn.getVarName(text-color, disabled),
      type: fn.getVarName(color, $type, light-5)),
    disabled-is-text-bg-color: (default: fn.getVarName(color, white),
      type: fn.getVarName(color, white)),
    // 边框按钮 - 默认状态
    is-border-text-color: (default: fn.getVarName(text-color, primary),
      type: fn.getVarName(color, $type)),
    is-border-color: (default: fn.getVarName(border-color, default),
      type: fn.getVarName(color, $type)),
    // 边框按钮 - hover 状态
    hover-is-border-text-color: (default: fn.getVarName(text-color, secondary),
      type: fn.getVarName(color, $type, light-3)),
    hover-is-border-color: (default: fn.getVarName(border-color, hover),
      type: fn.getVarName(color, $type, light-3)),
    // 边框按钮 - disabled 状态
    disabled-is-border-text-color: (default: fn.getVarName(text-color, disabled),
      type: fn.getVarName(color, $type, light-6)),
    disabled-is-border-color: (default: fn.getVarName(border-color, disabled),
      type: fn.getVarName(color, $type, light-6))
  );

@return $button;
}


@function getInputVar() {
  $input: (
    text-color: (default: fn.getVarName(text-color, primary)),
    border-color: (default: fn.getVarName(border-color, default)),
    bg-color: (default: fn.getVarName(color, white)),
    size: (default: fn.getVarName(component-size, default)),
    font-size: (default: fn.getVarName(font-size, default))
  );

@return $input;
}