@use "./function.scss" as fn;

@function getButtonVar() {
  $button: (
    border-color: (
      // --a-border-color-default
      default: fn.getVarName("border-color", "default"),
    ),

    bg-color: (
      // --a-color-white
      default: fn.getVarName("color", white),
    ),

    text-color: (
      default: fn.getVarName("text-color", "primary"),
    ),

    hover-border-color: (
      default: fn.getVarName(color, primary, light-5),
    ),

    hover-bg-color: (
      default: fn.getVarName(color, primary, light-9),
    ),

    hover-text-color: (
      default: fn.getVarName(color, "primary"),
    ),
  );

  @return $button;
}
