@use "./function.scss" as fn;

@function getButtonVar() {
  $button: (
    border-color: (
      // --a-border-color-default
      default: fn.getVarName("border-color", "default"),
    ),

    bg-color: (
      // --a-bg-color-white
      default: fn.getVarName("bg-color", white),
    ),

    text-color: (
      default: fn.getVarName("text-color", "primary"),
    ),
  );

  @return $button;
}
