@use "sass:map";
@use "./var.scss";
@use "./function.scss" as fn;
@use "./config.scss";

// 用于给 :root 动态生成基础颜色的 css 变量
// 可以理解成是在定义函数，不带参数时，可以不用加括号 set-base-color() 也是可以的
@mixin set-base-color {
  @each $type in var.$types {
    // 生成 css 变量
    $color: map.get(var.$colors, $type, base);
    // --a-color-white
    #{fn.getVarName("color", $type)}: #{$color};
  }
}

// 用于给 :root 动态生成层次色的 css 变量
// $mode 默认值为 light
@mixin set-level-colors($mode: light) {

  // --a-color-black-light-3
  @each $type in var.$types-mix {
    @for $i from 1 through 9 {
      // --a-color-type-light-1
      $name: fn.getVarName("color", $type, $mode, $i);
      $color: map.get(var.$colors, $type, #{$mode}-#{$i});
      // 变量名: 值；
      #{$name}: #{$color};
    }
  }
}

// 用于给 :root 动态生成组件库的全局通用的 css 变量
@mixin set-global-var {
  @each $key, $data in var.$global {
    @each $type, $value in $data {
      // --a-component-size-small: 24px;
      // --a-text-color-primary: $value;
      $name: fn.getVarName($key, $type);
      $val: map.get(var.$global, $key, $type);

      #{$name}: $val;
    }
  }
}

// 生成组件专属的私有变量
@mixin set-component-var($com-type, $var, $var-key: "default") {
  @each $key, $data in $var {
    // --a-button-bg-color
    $name: fn.getVarName($com-type, $key);
    $value: var(#{map.get($var, $key, $var-key)});
    #{$name}: #{$value};
  }
}

// 生成 block 块类名
@mixin b($block) {
  // 注册为全局
  $b: "." + config.$namespace + config.$connect + $block !global;

  #{$b} {
    // 占位符
    @content;
  }
}

// 生成 element 元素类名
@mixin e($element) {
  // .a-button--$element
  $e: $b + config.$element-connect + $element;

  // 被 @at-root 包裹的选择器，会脱离父级，不与父级形成嵌套关系
  // at root 自己成为根 css, 不再嵌套
  @at-root {
    #{$e} {
      // 占位符
      @content;
    }
  }
}

// 生成修改器类名
@mixin m($modifier, $value: "") {
  // .a-button--$modifier
  $m: $b + config.$modifier-connect + $modifier;

  @if $value != "" {
    // .a-button--$modifier_value
    $m: $m + config.$modifier-value-connect + $value;
  }

  // 被 @at-root 包裹的选择器，会脱离父级，不与父级形成嵌套关系
  // at root 自己成为根 css, 不再嵌套
  @at-root {
    #{$m} {
      // 占位符
      @content;
    }
  }
}